{
    admin 0.0.0.0:2019
}

(qz_console) {
    redir /admin /admin/ 308

    handle_path /admin/* {
        root * /srv/webui
        header Cache-Control "no-store"
        try_files {path} /index.html
        file_server
    }

    @api path /api /api/*
    handle @api {
        reverse_proxy core:8000
    }

    @console_root path /
    redir @console_root /admin/ 308

    respond 404
}

(qz_blog) {
    @blocked path /admin /admin/* /api /api/*
    respond @blocked 404

    root * /srv/hugo
    file_server
}

:5210 {
    import qz_console
}
